<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
        <a href="/update">
            <button>Account</button>
        </a>
        <a href="/dashboard">
            <button>Create Diagram</button>
        </a>
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Idea</th>
                    <th>Actions</th>
                    <th>Enbeded Code</th>
                </tr>
            </thead>    
            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{u.id}}</td>
                    <td>{{u.idea}}</td>
                    <td>
                        <a href="">Edit</a>
                        <a href="">Delete</a>
                    </td>
                    <td><a href="">Click To Copy</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h4>{{user.name}}States</h4>
        <p>Number Of Ideas:</p>
        <p>Total Visit To Idea:</p>
    </div>
</body>
</html>