<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="">
            <button>Dashboard</button>
        </a>
        <a href="">
            <button>Logout</button>
        </a>
    </div>

    <div class="visual_edit_container">
        <div class="edit">
            <div class="main_idea">
                <div class="form-group">
                    <label for="main_idea">Main Idea</label>
                    <select name="main_idea" id=""></select>
                </div>
            </div>
            <div class="category_1"></div>
            <div class="category_2"></div>
        </div>
        <div class="visual"></div>
    </div>
</body>
</html>