
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(1,200,247);
    background: linear-gradient(0deg, rgba(1,200,247,0) 0%, rgba(0,212,255,1) 100%); 
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
#diagram {
    margin: 20% 20% 20% 0;
}

#d-main-idea {
    animation: move 6s ease infinite;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /* DIV DEBUG */
    /* border-color: black; */
    /* border-width: 2px; */
    /* border-style:dashed; */
    /* DIV DEBUG END */
    background: #FFFFFF;
    height: 100px;
    width: 100px;
    box-shadow: #fff -25px -15px 0 -5px, #fff 20px -15px, #fff 30px 10px, #fff -30px 15px 0 -10px, #fff -55px 5px 0 -5px;
    text-align: center; /* Temporary fix to center text, may need to use flex to center both vertically and horizontally. */
}
#d-main-idea>span {
    position:absolute;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.cat-container {
    /* disable animation for now, it rotates because of transform, fix this later */
    /* animation: move 6s ease infinite;  */
    z-index: -1; 
    /* DIV DEBUG */
    /* border-color: rgb(0, 201, 140);*/
    /* border-top-color: rgb(195, 0, 255); */
    /* border-style:dashed; */
    /* background: rgba(195, 0, 255, 0.103); */
    /* border-color: black; */
    /* border-width: 2px 0px 0px 2px; */
    /* DIV DEBUG END */
    position: relative; 
    height: 244px;
    width: 244px;
    transform: rotate(45deg);
    top: 100%;
    right: 80%;
}
.cat-container>.cat-bubble-left, .cat-container>.cat-bubble-right {
    background:rgb(140, 0, 255);
}

.diagonal-line-left {
    content: '';
    position: absolute;
    bottom: 0px;
    border-top: 2px dotted black;
    border-left: 2px dotted black;
    top: 31%;
    width: 0%;
    height: 50%;
    left: 0%;
}

.diagonal-line-right {
    content: '';
    position: absolute;
    bottom: 0px;
    border-top: 2px dotted black;
    border-left: 2px dotted black;
    top: -1%;
    width: 52%;
    height: 1%;
    left: 33%;
}



.cat-bubble-left, .cat-bubble-right {
    position:absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /* DIV DEBUG */
    /* border-color: rgb(0, 201, 140);
    border-width: 2px;
    border-style:solid; */
    /* DIV DEBUG END */
    height: 100px;
    width: 100px;
    transform:rotate(-45deg)
}

.cat-bubble-left>span,.cat-bubble-right>span {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.subcat-left-container>.cat-bubble-left, .subcat-left-container>.cat-bubble-right {
    background:rgb(16, 248, 178);
}

.subcat-right-container>.cat-bubble-left, .subcat-right-container>.cat-bubble-right {
    background:rgb(248, 16, 151);
}

.cat-bubble-left {
    bottom: -20%;
    left: -20%;
}
.cat-bubble-right {
    right: -20%;
    top: -20%;
}

.subcat-left-container, .subcat-right-container {
    z-index: -2; 
    position:absolute;
    /* DIV DEBUG */
    border-color: rgb(216, 13, 206);
    border-top-color: rgb(255, 72, 0);
    border-style:dotted;
    /* background: rgba(85, 255, 241, 0.103); */
    /* DIV DEBUG END */
    border-width: 2px 0px 0px 2px;
    height: 170px;
    width: 170px;
    transform: rotate(45deg);

}

.subcat-left-container {
    bottom: -351%;
    left: -210%;
}
.subcat-right-container {
    right: -200%;
    top: 275%;
}

@keyframes move {
    50% {
    transform: translateY(-15px);
    }
}
